<html>
<head>
<title> Multi-Barrier System </title>
<style>
h2 {text-align: center; color: #800080}
input.colorbutton {color: red; background:#99ffff}
p {text-align: center; color: white}
body {background-color: #c0c0c0}
p.color {background: #800000}
</style>
</head>
<body>
<h2> Multi-Barrier System Simulator for Square Wells </h2>
<p class = "color"> The scenario contains the following: </p>
<p class = "color"> Mass: {{mass}} kilograms</p>
<p class = "color"> Energy: {{energy}} joules</p>
<p class = "color"> The Tunneling coefficient is <font color = "yellow"><b>{{out1}}</b></font> and the Reflection coefficient is <font color = "yellow"><b>{{out2}}</b></font> </p>
<table align = "center" border = "1" bordercolor = "#339933">
<tr>
<td align = "center"><img src = "{{image_data}}" width = "750"></td>
</tr>
</body>
</html>

